---
# tasks/upgrade.yml: Wekan upgrade procedures for Wekan.Ansible

  - name: Ensure automatic upgrades are permitted [UPGRADE]
    fail:
      msg: >-
        It doesn't look like you've permitted automatic upgrades.
        A new version of Wekan was released.
        To permit automatic upgrades set 'wekan_automatic_upgrades' to true
    when: not wekan_automatic_upgrades|bool

  - name: Ensure the back up directory exists [UPGRADE]
    file:
      path: "{{ wekan_upgrade_backup_path }}"
      state: directory
    when: wekan_upgrade_backup|bool

  - name: Back up the current Wekan instance [UPGRADE]
    shell: >-
      mv {{ wekan_application_path }}/bundle
      {{ wekan_upgrade_backup_path }}/backup_{{ ansible_date_time.date }}
    when: wekan_upgrade_backup|bool

  - name: Delete the current Wekan instance [UPGRADE]
    file:
      path: "{{ wekan_application_path }}/bundle"
      state: absent
    when: not wekan_upgrade_backup|bool

  - name: Set the Wekan upgrade status [UPGRADE]
    set_fact:
      wekan_upgraded: true
