# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

{% if wekan_mongodb_fork is defined %}
# whether to fork the process or not
fork = {{ wekan_mongodb_fork }}
{% endif %}
{% if wekan_mongodb_pidfile_path is defined %}

pidfilepath = {{ wekan_mongodb_pidfile_path }}
{% endif %}
{% if wekan_mongodb_logpath is defined %}

logpath = {{ wekan_mongodb_logpath }}
{% endif %}
{% if wekan_mongodb_unixsocketprefix is defined %}

unixSocketPrefix = {{ wekan_mongodb_unixsocketprefix }}
{% endif %}
{% if wekan_mongodb_dbpath is defined %}

dbpath = {{ wekan_mongodb_dbpath }}
{% endif %}

{% if ansible_os_family == "Debian" %}
# where and how to store data.
storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log
# network interfaces
net:
  port: {{ wekan_mongodb_port }}
  bindIp: {{ wekan_mongodb_server }}
{% endif %}

# replication
{{ wekan_mongodb_repl_lines }}
